{{ 'clip-the-deal.css' | asset_url | stylesheet_tag }}

<input type="hidden" name="meta[token]" value="{{ customer.metafields.custom.token }}">
<input type="hidden" name="meta[user_id]" value="{{ customer.metafields.custom.user_id }}">
<input type="hidden" name="meta[name]" value="{{ customer.metafields.custom.name }}">

<clip-the-deal style="position: relative;">
  <div class="clip_the_deal_main">
    <div id="loader" class="loader">
    <img src="https://cdn.shopify.com/s/files/1/0678/1026/3276/files/loader.gif?v=1710423701" alt="Loading...">
</div>
    <div id="clip_the_deal_inner" class="clip_the_deal_inner">
      <div class="clip_the_deal_inner_main">
        <div class="clip_the_deal_inner_top">
        <div class="clip_the_deal_back">
          <a href="/account">{% render 'back_icon' %}</a>
        </div>
        <div class="clip_the_deal_title">{{ section.settings.heading }}</div>
        <div class="clip_the_deal_help"><a href="{{ routes.account_url | append:'?view=reward-benefits' }}"> {% render 'help_icon' %} </a></div>
      </div>
      <div class="clip_the_deal_inner_bottom">
      </div>
      </div>
    </div>
    <!--  -->
      <div id="all_blocks_main_data" class="all_blocks_main_data">
        <div class="all_blocks_main_data_inner">
          <div class="clip_the_deal_inner_main_data">
        <div class="clip_the_deal_data_inner_top">
          <div class="clip_the_deal_data_title_main">
            {{ section.settings.drop_title }}
          </div>
          <div class="clip_the_deal_data_drops_details drop_expire"></div>
        </div>
        <div class="clip_the_deal_inner_data_points_count">
          {% comment %} <img src="{{ 'Blue_Tier.png' | file_url }}" alt="Drop" width="36">
          <span>25</span> {% endcomment %}
        </div>
      </div>
        <!--  -->
        <div class="clip_the_deal_inner_data_range">
          <div class="clip_the_deal_data_range_title">
            25 drops until <span class="clip_the_deal_data_range_title_tier">Green Tier</span>
          </div>
          <div class="range_drops_main desktop">
            <div class="range_main">
              <div class="clip_the_deal_data_drops_range desktop">
            </div>
            </div>
            <span class="range_icon_move"><img src="{{ 'Green.svg' | file_url }}" alt="Green Drop"></span>
          </div>
          <div class="clip_the_deal_inner_data_points">
            <a href="{{ routes.account_url | append:'?view=rewards-history' }}">{{ section.settings.h_label }}</a>
          </div>
          <!-- <div class="clip_the_deal_data_drops_range mobile"></div> -->
          <div class="range_drops_main mobile">
            <div class="range_main">
              <div class="clip_the_deal_data_drops_range mobile">
            </div>
            </div>
            <span class="range_icon_move"><img src="{{ 'Green.svg' | file_url }}" alt="Green Drop"></span>
          </div>
        </div>

        <a class="clip_the_deal_inner_learn_more_link" href="{{ routes.account_url | append:'?view=reward-benefits' }}">{{ section.settings.learn_more_text }} {% render 'clip-the-deal-icons', icon: 'arrow' %}</a>

        <div class="card_redeme_main card_redeme_main_blue_card_offer d-none">
          <div class="card_redeme_main_inner" >
            <div class="card_heading"><strong>{{ 'customer.account.reward.blue_drop' | t }}</strong> {{ 'customer.account.reward.redeemable_offer' | t }}</div>
            <div class="lock_cart_block"></div>
            <div class="cards_redeme_main blue_tier_offer">
            </div>
          </div>
        </div>

        <div class="card_redeme_main card_redeme_main_green_card_offer d-none">
          <div class="card_redeme_main_inner" >
            <div class="card_heading"><strong>{{ 'customer.account.reward.green_drop' | t }}</strong> {{ 'customer.account.reward.redeemable_offer' | t }}</div>
            <div class="lock_cart_block"></div>
            <div class="cards_redeme_main green_tier_offer">
            </div>
          </div>
        </div>

        <div class="card_redeme_main card_redeme_main_platinum_card_offer d-none">
          <div class="card_redeme_main_inner" >
            <div class="card_heading"><strong>{{ 'customer.account.reward.platinum_drop' | t }}</strong> {{ 'customer.account.reward.redeemable_offer' | t }}</div>
            <div class="lock_cart_block"></div>
            <div class="cards_redeme_main platinum_tier_offer">
            </div>
          </div>
        </div>
          <div class="date_bottom_cards"></div>
        </div>
      </div>
    
  </div>
</clip-the-deal>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        document.getElementById('loader').classList.remove('hidden');
    });

    setTimeout(function() {
        document.getElementById('loader').classList.add('hidden');
        document.getElementById('clip_the_deal_inner').style.visibility = 'visible';
        document.getElementById('all_blocks_main_data').style.visibility = 'visible';
      
    }, 500000);
</script>

{% schema %}
  {
    "name": "Clip the deal",
    "settings": [
      {
        "type": "text",
        "id": "learn_more_text",
        "label": "Learn More Text",
        "default": "Learn about Reward benefits"
      },
      {
        "type": "text",
        "id": "learn_more_link",
        "label": "Learn More Link",
        "default": "/pages/reward-benefits/"
      },
      {
	    "type": "text",
	    "id": "heading",
	    "label": "Heading",
	    "default": "My Reward Drops"
	  },
      {
	    "type": "text",
	    "id": "heading_sec",
	    "label": "Heading second",
	    "default": "Blue Tier"
	  },
      {
	    "type": "text",
	    "id": "drop_title",
	    "label": "Data title",
	    "default": "Your Current Balance"
	  },
      {
	    "type": "inline_richtext",
	    "id": "date_exp",
	    "label": "Expire date",
	    "default": "<strong>5 Drops</strong> will expire on 1/11/23"
	  },
      {
	    "type": "number",
	    "id": "drop_points",
	    "label": "Drop points",
	    "default": 25
	  },
      {
	    "type": "text",
	    "id": "h_label",
	    "label": "Button label",
	    "default": "Drop History"
	  },
      {
	    "type": "text",
	    "id": "h_link",
	    "label": "Button link",
      "default": "/pages/rewards-history/"
	  },
      {
        "type": "color_background",
        "id": "background_gradient",
        "label": "Background color"
      }
    ],
    "presets": [
      {
        "name": "Clip the deal"
      }
    ]
  }
{% endschema %}