<input type="hidden" name="meta[token]" value="{{ customer.metafields.custom.token }}">
<input type="hidden" name="meta[user_id]" value="{{ customer.metafields.custom.user_id }}">
<input type="hidden" name="meta[name]" value="{{ customer.metafields.custom.name }}">
<clip-the-deal>
  <div class="clip_the_deal_main">
    <div class="clip_the_deal_inner">
      <div class="clip_the_deal_inner_main">
        <div class="clip_the_deal_inner_top">
        <div class="clip_the_deal_back">
          <a href="/account">{% render 'back_icon' %}</a>
        </div>
        <div class="clip_the_deal_title">{{ section.settings.heading }}</div>
        <div class="clip_the_deal_help"><a href="{{ section.settings.learn_more_link }}"> {% render 'help_icon' %} </a></div>
      </div>
      <div class="clip_the_deal_inner_bottom">
      </div>
      </div>
    </div>
    <!--  -->
      <div class="all_blocks_main_data">
        <div class="all_blocks_main_data_inner">
          <div class="clip_the_deal_inner_main_data">
        <div class="clip_the_deal_data_inner_top">
          <div class="clip_the_deal_data_title_main">
            {{ section.settings.drop_title }}
          </div>
          <div class="clip_the_deal_data_drops_details drop_expire"></div>
        </div>
        <div class="clip_the_deal_inner_data_points_count">
          {% comment %} <img src="{{ 'Blue_Tier.png' | file_url }}" alt="Drop" width="36">
          <span>25</span> {% endcomment %}
        </div>
      </div>
        <!--  -->
        <div class="clip_the_deal_inner_data_range">
          <div class="clip_the_deal_data_range_title">
            25 drops until <span class="clip_the_deal_data_range_title_tier">Green Tier</span>
          </div>
          <div class="range_drops_main desktop">
            <div class="range_main">
              <div class="clip_the_deal_data_drops_range desktop">
            </div>
            </div>
            <span class="range_icon_move"><img src="{{ 'Green.svg' | file_url }}" alt="Green Drop"></span>
          </div>
          <div class="clip_the_deal_inner_data_points">
            <a href="{{ routes.account_url | append:'?view=rewards-history'}}">{{ section.settings.h_label }}</a>
          </div>
          <!-- <div class="clip_the_deal_data_drops_range mobile"></div> -->
          <div class="range_drops_main mobile">
            <div class="range_main">
              <div class="clip_the_deal_data_drops_range mobile">
            </div>
            </div>
            <span class="range_icon_move"><img src="{{ 'Green.svg' | file_url }}" alt="Green Drop"></span>
          </div>
        </div>

        <a class="clip_the_deal_inner_learn_more_link" href="{{ section.settings.learn_more_link }}">{{ section.settings.learn_more_text }} {% render 'clip-the-deal-icons', icon: 'arrow' %}</a>

        <div class="card_redeme_main card_redeme_main_blue_card_offer d-none">
          <div class="card_redeme_main_inner" >
            <div class="card_heading"><strong>{{ 'customer.account.reward.blue_drop' | t }}</strong> {{ 'customer.account.reward.redeemable_offer' | t }}</div>
            <div class="lock_cart_block"></div>
            <div class="cards_redeme_main blue_tier_offer">
            </div>
          </div>
        </div>

        <div class="card_redeme_main card_redeme_main_green_card_offer d-none">
          <div class="card_redeme_main_inner" >
            <div class="card_heading"><strong>{{ 'customer.account.reward.green_drop' | t }}</strong> {{ 'customer.account.reward.redeemable_offer' | t }}</div>
            <div class="lock_cart_block"></div>
            <div class="cards_redeme_main green_tier_offer">
            </div>
          </div>
        </div>

        <div class="card_redeme_main card_redeme_main_platinum_card_offer d-none">
          <div class="card_redeme_main_inner" >
            <div class="card_heading"><strong>{{ 'customer.account.reward.platinum_drop' | t }}</strong> {{ 'customer.account.reward.redeemable_offer' | t }}</div>
            <div class="lock_cart_block"></div>
            <div class="cards_redeme_main platinum_tier_offer">
            </div>
          </div>
        </div>

          <div class="date_bottom_cards"></div>
        </div>
      </div>
    
  </div>
</clip-the-deal>

<style>
#shopify-section-{{ section.id }} {
  padding-bottom: 100px;
}
.d-none{
  display:none;
}
.card_redeme_main{
  border-radius: 16px;
  padding: 16px;
  margin-bottom: 24px;
  position: relative;
}
.card_redeme_main_blue_card_offer{
  background: #2461cc;
}
.card_redeme_main_green_card_offer{
  background: #007c2d;
}
.card_redeme_main_platinum_card_offer{
  background: linear-gradient(316deg, rgba(195, 195, 195, 1) 14%, rgba(83, 86, 90, 1) 83%);
}

.card_redeme_main .lock_cart_block{
  position: absolute;
  top: 16px;
  right: 16px;
}

.card_heading{
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 8px;
}
.cards_redeme_main{
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}


.cards_title{
  color: #1F1F20;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 8px;
}
.cards_points{
  color: #2461CC;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; 
  display: flex;
  align-items: center;
  gap: 5px;
}
.green_offer_card .cards_points{
  color:#007C2D;
}
.platinum_offer_card .cards_points{
  color:#6B6E71;
}
.cards_redeme_inner.inactive{
  cursor: not-allowed;
}
.cards_redeme_inner.inactive img{
  opacity: 0.8;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%); 
}
.cards_redeme_inner.inactive .cards_title, .cards_redeme_inner.inactive .cards_points{
  color:#8A8F95;
}
.cards_redeme_inner_width{
  width: calc(50% - 8px);
}
.cards_redeme_inner{
  border-radius: 8px;
  background: rgba(225, 225, 225, 0.9);
}
.cards_redeme_inner{
  display: flex;
  padding: 8px 16px;
  min-height: 136px;
  align-items: center;
}
.cards_redeme_inner_text_points{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 16px;
}
.cards_redeme_inner_image{
  width: 120.615px;
}
.cards_redeme_inner_image img{
  width: 100%;
  mix-blend-mode: multiply;
  max-width: 112px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.date_bottom_cards{
  width: 100%;
  color: #53565A;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; 
}
/*  */

  
  .clip_the_deal_main .clip_the_deal_inner{
    background: #2461CC;
    background: radial-gradient(circle, #2461CC 0%, #001489 100%);
    
  }
  
  .clip_the_deal_inner_main{
    max-width: 1024px;
    width: 100%;
    margin-inline: auto;
    padding: 24px;
  }
  .all_blocks_main_data{
    margin-inline: auto;
    max-width: 1024px;
    width: 100%;
    padding: 24px;
    padding-top: 32px;
    margin-top: -32px;
    border-radius: 16px 16px 0px 0px;
    background: #fff;
  }
  .all_blocks_main_data_inner{
    max-width: 640px;
    width: 100%;
    margin-inline: auto;
  }
  .clip_the_deal_inner_top{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .clip_the_deal_back svg path,
  .clip_the_deal_help svg path{
    stroke: #fff;
  }
  .clip_the_deal_title{
    color: #fff;
  }
  .clip_the_deal_title{
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 118%; 
  }
  .clip_the_deal_inner_bottom{
     color: #FFF;
     text-align: center;
     font-size: 32px;
     font-style: normal;
     font-weight: 700;
     line-height: 34px; 
     margin-bottom: 32px;
     margin-top: 10px;
  }
  .clip_the_deal_inner_main_data{
    display: flex;
    padding-block: 30px;
  }
  .clip_the_deal_data_title_main{
    color: #2461CC;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
  }
  .clip_the_deal_data_drops_details{
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
  }
  .clip_the_deal_data_drops_range{
    width:0%;
    height: 8px;
    flex-shrink: 0;
    border-radius: 16px;
    background: linear-gradient(90deg, #2866D3 61.5%, #409D25 100.07%);
  }
  .clip_the_deal_inner_data_points a{
    color: #2461CC;
    text-align: right;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    text-decoration-line: underline;
  }
  .clip_the_deal_inner_main_data {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  .clip_the_deal_inner_data_range{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-block: 30px;
    border-top: 1px solid rgba( 0,0,0,0.2 );
    align-items: center;
  }
  .clip_the_deal_inner_data_points_count{
    color: #2461CC;
    text-align: right;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: 34px;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .range_drops_main.mobile{
    width: 100%;
    max-width: 400px;
    position: relative;
    height: 8px;
    margin-top: 15px;
  }
  .range_drops_main.desktop{
    width: 100%;
    max-width: 300px;
    position: relative;
  }
  .range_main{
    width: 100%;
    max-width: 328px;
    border-radius: 16px;
    height: 8px;
    border: 0.3px solid rgba(0, 0, 0, 0.10);
  }
  .range_icon_move{
    position: absolute;
    right: -5px;
    top: 100%;
    transform: translateY(-50%);
  }
  .clip_the_deal_inner_learn_more_link {
      color: #2461CC;
      font-size: 16px;
      line-height: 24px;
      display: block;
      margin-bottom: 24px;
  }
  .clip_the_deal_inner_learn_more_link svg {
      margin-left: 5px;
  }
  .clip_the_deal_data_range_title {
      font-size: 14px;
      line-height: 18px;
      color: rgb(83, 86, 90);
  }
  .clip_the_deal_data_range_title_tier {
      color: rgb(107, 110, 113);
  }
  @media screen and (max-width: 767px) {
      .clip_the_deal_inner_learn_more_link {
          line-height: 20px;
          margin-bottom: 18px;
      }
  }
  @media screen and ( min-width: 750px ){
    .clip_the_deal_data_drops_range.mobile{
      display: none;
    }
    .range_drops_main.mobile{
      display: none;
    }
  }
  @media screen and ( max-width: 749px ){
    .range_drops_main.desktop{
      display: none;
    }
    .clip_the_deal_inner_data_range{
      flex-wrap: wrap;
    }
    .clip_the_deal_data_title_main,
    .clip_the_deal_inner_data_points{
      width: fit-content;
    }
    .clip_the_deal_data_title_main{
    color: #53565A;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    }
    .cards_redeme_inner .cards_redeme_inner_text_points{
      gap: 8px;
      margin-block: 15px;
      text-align: center;
    }
    .cards_redeme_inner .cards_points{
      justify-content: center;
    }
    .cards_redeme_inner{
      flex-direction: column;
    }
    .clip_the_deal_data_drops_range{
      width: 0%;
      /* margin-top: 15px; */
    }
    
    .clip_the_deal_data_drops_range.desktop{
      display: none;
    }
    .clip_the_deal_title{
      font-size: 20px;
    }
  }
</style>
{% schema %}
  {
    "name": "Clip the deal",
    "settings": [
      {
        "type": "text",
        "id": "learn_more_text",
        "label": "Learn More Text",
        "default": "Learn about Reward benefits"
      },
      {
        "type": "text",
        "id": "learn_more_link",
        "label": "Learn More Link",
        "default": "/pages/reward-benefits/"
      },
      {
	    "type": "text",
	    "id": "heading",
	    "label": "Heading",
	    "default": "My Reward Drops"
	  },
      {
	    "type": "text",
	    "id": "heading_sec",
	    "label": "Heading second",
	    "default": "Blue Tier"
	  },
      {
	    "type": "text",
	    "id": "drop_title",
	    "label": "Data title",
	    "default": "Your Current Balance"
	  },
      {
	    "type": "inline_richtext",
	    "id": "date_exp",
	    "label": "Expire date",
	    "default": "<strong>5 Drops</strong> will expire on 1/11/23"
	  },
      {
	    "type": "number",
	    "id": "drop_points",
	    "label": "Drop points",
	    "default": 25
	  },
      {
	    "type": "text",
	    "id": "h_label",
	    "label": "Button label",
	    "default": "Drop History"
	  },
      {
	    "type": "text",
	    "id": "h_link",
	    "label": "Button link",
      "default": "/pages/rewards-history/"
	  },
      {
        "type": "color_background",
        "id": "background_gradient",
        "label": "Background color"
      }
    ],
    "presets": [
      {
        "name": "Clip the deal"
      }
    ]
  }
{% endschema %}