{{ 'login-register.css' | asset_url | stylesheet_tag }}
{{ 'login-register.js' | asset_url | script_tag }}

<div class="row">
  <div class="small-12 columns">
    <div class="thb-form-container">
      <div class="thb-register-form">
        {% form 'create_customer' %}
          <h5>{{ 'customer.login_page.create_account' | t }}</h5>
          <h4>{{ 'customer.login_page.create_account_dec' | t }}</h4>
          <p>{{ 'customer.login_page.create_account_description' | t }}</p>
          {% if form.errors %}
            <div class="form-notification error">
              {% render 'svg-icons' with 'thb-error' %}
              {{ form.errors | default_errors }}
            </div>
          {% endif %}
          <div class="create_form_wrapper">
            <div class="fields">
              <div class="field">
                <label for="first_name">{{ 'customer.login_page.first_name' | t }}</label>
                <input
                  type="text"
                  name="customer[first_name]"
                  class="full"
                  id="first_name"
                  value="{% if form.first_name %}{{ form.first_name }}{% endif %}"
                  placeholder="{{ 'customer.login_page.first_name' | t }}"
                >
                <div id="firstNameError" class="form-error"></div>
              </div>
              
              <div class="field">
                <label for="last_name">{{ 'customer.login_page.last_name' | t }}</label>
                <input
                  type="text"
                  id="last_name"
                  name="customer[last_name]"
                  class="full"
                  value="{% if form.last_name %}{{ form.last_name }}{% endif %}"
                  placeholder="{{ 'customer.login_page.last_name' | t }}"
                >
                <div id="lastNameError" class="form-error"></div>
              </div>
            </div>
            <div class="field">
              <label for="number">{{ 'customer.login_page.Mobile' | t }}</label>
              <div class="field--country_codee">
                <span>+971</span>
                <input
                  type="tel"
                  placeholder="{{ 'customer.login_page.mobile'| t }}"
                  class="full numeric"
                  name="phone"
                  id="mobile"
                  inputmode="numeric"
                  required
                  maxlength="9"
                  oninput="validateInputt()"
                >
              </div>
              <div id="mobileError" class="form-error"></div>
            </div>
            <div class="field">
              <label for="email">{{ 'customer.login_page.email' | t }}</label>
              <input
                type="email"
                name="customer[email]"
                class="full {% if form.errors contains 'email' %}invalid{% endif %}"
                value=""
                id="email"
                placeholder="{{ 'customer.login_page.email_place' | t }}"
                required
              >
            </div>
            <div id="emailError" class="form-error"></div>
            <div class="field">
              <label for="confirm_email">{{ 'customer.login_page.confirm_email' | t }}</label>
              <input
                type="email"
                name="customer[confirm_email]"
                class="full {% if form.errors contains 'confirm_email' %}invalid{% endif %}"
                value=""
                id="confirm_email"
                placeholder="{{ 'customer.login_page.confirm_email_place' | t }}"
                required
              >
            </div>
            <div id="confirmEmailError" class="form-error"></div>
            <div class="field">
              <label for="locationInput">{{ 'customer.login_page.address' | t }}</label>
              <input
                type="text"
                name="addressInput"
                id="locationInput"
                placeholder="{{ 'customer.login_page.address_place' | t }}"
                onkeydown="handleEnterKey(event)"
              >
              <div class="location_icon" onclick="openPopup()">
                {% render 'svg-icons' with 'location' %}
              </div>

              <!-- Popup content -->
              <div id="popup">
                <!-- Input field for address -->
                <label for="addressInput">Address</label>
                <input type="text" id="addressInput" placeholder="Enter address" onkeydown="handleEnterKey(event)">

                <!-- Container for the map -->
                <div id="map"></div>

                <!-- Display selected location as text -->
                <div id="locationText"></div>

                <!-- Button to show map based on address -->
                <button type="button" onclick="showMapForAddress()">Show on Map</button>

                <!-- Close button -->
                <button type="button" class="close-icon" onclick="closePopup()">&#128473;</button>
              </div>
              <div id="locationInputError" class="form-error"></div>
            </div>

            <div class="field-area">
              <div id="otppopup">
                <div class="popup-wrapper">
                  <h1 class="popup-title">Validate your Mobile Number</h1>
                  <p class="popup-subtitle">We sent a code to your Mobile Phone.</p>
                  <div class="popup-otp-wrapper">
                    <label for="OneTimePassword">One Time Password</label>
                    <div class="popup-otp-input-box">
                      <input
                        type="text"
                        name="OneTimePassword"
                        id="OneTimePassword1"
                        maxlength="1"
                        oninput="validateAndSwitch(this, 'OneTimePassword2')"
                        autocomplete="off"
                      >
                      <input
                        type="text"
                        name="OneTimePassword"
                        id="OneTimePassword2"
                        maxlength="1"
                        oninput="validateAndSwitch(this, 'OneTimePassword3')"
                        autocomplete="off"
                      >
                      <input
                        type="text"
                        name="OneTimePassword"
                        id="OneTimePassword3"
                        maxlength="1"
                        oninput="validateAndSwitch(this, 'OneTimePassword4')"
                        autocomplete="off"
                      >
                      <input
                        type="text"
                        name="OneTimePassword"
                        id="OneTimePassword4"
                        maxlength="1"
                        oninput="validateAndSwitch(this, 'OneTimePassword5')"
                        autocomplete="off"
                      >
                      <input
                        type="text"
                        name="OneTimePassword"
                        id="OneTimePassword5"
                        maxlength="1"
                        oninput="validateAndSwitch(this, 'OneTimePassword6')"
                        autocomplete="off"
                      >
                      <input
                        type="text"
                        name="OneTimePassword"
                        id="OneTimePassword6"
                        maxlength="1"
                        oninput="validateAndSwitch(this, null)"
                        autocomplete="off"
                      >
                    </div>
                    <div id="invalidOTPError" class="form-error"></div>
                    <p class="timing">
                      <a id="resendLink" onclick="startTimer_OnClick()">Resend code </a> <span id="timer"></span>
                    </p>
                    <button type="button" onclick="saveOtpPopup(event)" class="button full" id="verifyOtpbtn" disabled>
                      <span>Validate your Mobile Number</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <div class="field">
              <label for="address" name="address">{{ 'customer.login_page.address2' | t }}</label>
              <textarea
                name="address"
                placeholder="{{ 'customer.login_page.address2_place' | t }}"
                class="full"
                id="address"
              ></textarea>
            </div>

            <div class="fields">
              <div class="field">
                <label for="regi_city" name="city">{{ 'customer.addresses.city' | t }}</label>
                <select
                  name="city"
                  id="regi_city"
                  placeholder="{{ 'customer.addresses.city_reg' | t }}"
                  class="full"
                  onchange="getCityDistricts(this.value)"
                >
                  <option value="">{{ 'customer.addresses.city_reg' | t }}</option>
                </select>
                <div id="regiCityError" class="form-error"></div>
              </div>

              <div class="field">
                <label for="district">{{ 'customer.addresses.district' | t }}</label>
                <select
                  name="district"
                  placeholder="{{ 'customer.addresses.district_reg' | t }}"
                  id="district"
                  class="full"
                >
                  <option value="">{{ 'customer.addresses.district_reg' | t }}</option>
                </select>
                <div id="districtError" class="form-error"></div>
              </div>
            </div>
            <div class="terms_condition-checkbox">
              <input id="checkbox_reg" type="checkbox" value="" onchange="updateButtonState()" required>
              <span>I accept and agree to the <a href="#">Terms and Condition</a></span>
            </div>
            <button type="button" class="button full" id="regi_button" onclick="openOTPPopup()" disabled>
              <span>{{ 'customer.login_page.submit_register' | t }}</span>
            </button>
          </div>
        {% endform %}
        <div class="switch-login-section">
          {{ 'customer.login_page.already_have_an_account' | t }}
          {% assign text_button_title = 'customer.login_page.login' | t %}
          {% render 'text-button', url: routes.account_login_url, title: text_button_title %}
        </div>
      </div>
    </div>
  </div>
</div>

<script>

  var mobileInput = document.getElementById('mobile');
  var verifyOTP = document.getElementById('verifyOtpbtn');
  verifyOTP.addEventListener('click', function () {
  var OTP = document.getElementById('OneTimePassword1').value+document.getElementById('OneTimePassword2').value+document.getElementById('OneTimePassword3').value+document.getElementById('OneTimePassword4').value+document.getElementById('OneTimePassword5').value+document.getElementById('OneTimePassword6').value;
      
      // Use the fetch function to make a GET request to the API
      fetch('https://alainuat.gdadmin.org/laravel/public/api/verifyOTP', {
        method: 'POST',
        body:JSON.stringify({mobileNo: mobileInput.value,otp: OTP}),
      })
      .then(response => {
        if (!response.ok) {
          throw new Error(`Network response was not ok: ${response.status}`);
        }
        
        return response.json();
      })
      .then(data => {
        console.log('Verify OTP',data);
        const customerData = {first_name: document.getElementById('first_name').value,last_name: document.getElementById('last_name').value,email: document.getElementById('email').value,phone: document.getElementById('mobile').value,address1: document.getElementById('locationInput').value,address2: document.getElementById('address').value,city: document.getElementById('regi_city').value,district: document.getElementById('district').value};
        console.log('Customer Data',customerData);
          fetch('https://alainuat.gdadmin.org/laravel/public/api/registerCustomer', {
            method: 'POST',
            body:JSON.stringify(customerData),
          })
          .then(response => {
            if (!response.ok) {
              throw new Error(`Network response was not ok: ${response.status}`);
            }
            return response.json();
          })
          .then(data => {
            let responce = JSON.parse(data.customer);
            // let token = JSON.parse(data.token);
            // console.log('Token',data.token);
            if(responce.errors){
                closeOTPPopup();
                window.location.href = `/account/login/multipass/${data.token}`;
                if(responce.errors.email)
                  document.getElementById('emailError').innerText = "Email has already been taken.";
                else
                  window.location = `/account/login/multipass/${data.token}`;
            }
          })
          .catch(error => {
            console.error('Error fetching data:', error);
          });
      })
      .catch(error => {
        // Handle errors that may occur during the fetch operation
        console.error('Error fetching data:', error);
        document.getElementById('invalidOTPError').innerText = "Invalid OTP."
      });
});
</script>

