{{ 'login-register.css' | asset_url | stylesheet_tag }}
<style>
  html[lang=ar] #main-content .otp-container .field-area .popup-otp-input-box input {
    text-align: center !important;    
}
</style>
<div class="row">
  <div class="small-12 columns">
    <div class="thb-form-container">
      <div class="thb-login-form cus-login" id="login">
        <login-customer>
          {% form 'customer_login' %}
            
            <!-- Login start -->
            <div class="custom_login_container" style="display:block;">
              <div class="custom_login">
                <div class="customer--login">
                  <h4>{{ 'customer.login_page.login' | t }}</h4>
                  <p>
                    <strong>{{ 'customer.login_page.login_desc' | t }}</strong>
                  </p>
                  <p>{{ 'customer.login_page.login_description' | t }}</p>
                  <div class="switch-login-section desk">
                    {{ 'customer.login_page.dont_have_an_account' | t }}
                    {% assign text_button_title = 'customer.login_page.create_account' | t %}
                    {% render 'text-button', url: routes.account_register_url, title: text_button_title %}
                    <div></div>
                  </div>
                </div>
                {% if form.errors %}
                  <div class="form-notification error">
                    {% render 'svg-icons' with 'thb-error' %}
                    {{ form.errors | default_errors }}
                  </div>
                {% endif %}

                <div class="fields login--page">
                  <div class="field">
                    <label for="number">{{ 'customer.login_page.Mobile' | t }}</label>
                    <div class="field--login--mobile">
                      <span>+971</span>
                      <input
                        type="tel"
                        placeholder="{{ 'customer.login_page.mobile'| t }}"
                        class="full numeric login-mobile-numner"
                        name="mobile_number"
                        id="mobile"
                        inputmode="numeric"                      
                        maxlength="9"
                        required
                      >
                    </div>
                  </div>
                  <p>Will we SMS you a one-time password for verification.</p>
                  <div class="field">
                    <button type="button" class="button full" id="verifyMobile" disabled>
                      <span>{{ 'customer.login_page.varify' | t }}</span>
                    </button>
                    <div id="loader" style="display: none;"><img src="https://cdn.shopify.com/s/files/1/0678/1026/3276/files/loader.gif?v=1709888859"></div>
                  </div>
                </div>
                <div class="switch-login-section mob">
                  {{ 'customer.login_page.dont_have_an_account' | t }}
                  {% assign text_button_title = 'customer.login_page.create_account' | t %}
                  {% render 'text-button', url: routes.account_register_url, title: text_button_title %}                
                </div>
              </div>
            </div>
            <!-- Login End -->

            <!-- OTP start -->
            <div class="otp-container" style="display: none;">
              <div class="custom_login otp">
                <div class="customer--login">
                  <h4>{{ 'customer.login_page.validate' | t }}</h4>
                  <p>
                    <strong>{{ 'customer.login_page.validate_desc' | t }}</strong>
                  </p>
                  <div class="switch-login-section desk">
                    <div class="number-capture">
                    <div id="capturedValue"></div>
                    {% assign text_button_title = 'customer.login_page.validate_description' | t %}
                    {% render 'text-button', url: routes.account_login_url, title: text_button_title %}
                    </div>
                  </div>
                  <div class="switch-login-section mob">
                      <div class="number-capture">
                        <div id="capturedValuemob"></div>
                        {% assign text_button_title = 'customer.login_page.validate_description' | t %}
                        {% render 'text-button', url: routes.account_login_url, title: text_button_title %}
                      </div>
                  </div>
                </div>
                {% if form.errors %}
                  <div class="form-notification error">
                    {% render 'svg-icons' with 'thb-error' %}
                    {{ form.errors | default_errors }}
                  </div>
                {% endif %}
                <div class="fields login--page">
                  <div class="field-area">
                    <div id="otppopup1">
                      <div class="popup-wrapper">
                        <div class="popup-otp-wrapper">
                          <label for="OneTimePassword">One Time Password</label>
                          <div class="popup-otp-input-box">
                            <input
                              type="text"
                              name="OneTimePassword"
                              id="OneTimePassword1"
                              maxlength="1"
                              oninput="validateAndSwitch(this, 'OneTimePassword2')"
                              inputmode="numeric"
                              autocomplete="off"
                            >
                            <input
                              type="text"
                              name="OneTimePassword"
                              id="OneTimePassword2"
                              maxlength="1"
                              oninput="validateAndSwitch(this, 'OneTimePassword3')"
                              inputmode="numeric"
                              autocomplete="off"
                            >
                            <input
                              type="text"
                              name="OneTimePassword"
                              id="OneTimePassword3"
                              maxlength="1"
                              oninput="validateAndSwitch(this, 'OneTimePassword4')"
                              inputmode="numeric"
                              autocomplete="off"
                            >
                            <input
                              type="text"
                              name="OneTimePassword"
                              id="OneTimePassword4"
                              maxlength="1"
                              oninput="validateAndSwitch(this, 'OneTimePassword5')"
                              inputmode="numeric"
                              autocomplete="off"
                            >
                            <input
                              type="text"
                              name="OneTimePassword"
                              id="OneTimePassword5"
                              maxlength="1"
                              oninput="validateAndSwitch(this, 'OneTimePassword6')"
                              inputmode="numeric"
                              autocomplete="off"
                            >
                            <input
                              type="text"
                              name="OneTimePassword"
                              id="OneTimePassword6"
                              maxlength="1"
                              oninput="validateAndSwitch(this, null)"
                              inputmode="numeric"
                              autocomplete="off"
                            >
                          </div>
                          <div id="invalidOTPError" class="form-error"></div>
                        <p class="timing">
                            <a id="resendLink" class="disabled-link">Resend code </a><span id="timer" class="resend-time"></span>
                        </p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="field">
                    <button type="button" class="button full verifyOtpLoginBtn" id="verifyOtpbtn" disabled>
                      <span>{{ 'customer.login_page.title' | t }}</span>
                    </button>
                    <div id="loaderotp" style="display: none;"><img src="https://cdn.shopify.com/s/files/1/0678/1026/3276/files/loader.gif?v=1709888859"></div>
                  </div>
                </div>
              </div>
            </div>
            <!-- OTP End -->

            <!-- Email start -->
            <div class="custom_email_container" style="display:none;">
              <div class="custom_login">
                <div class="customer--login">
                  <h4>{{ 'customer.login_page.email_check_login' | t }}</h4>
                  <p>{{ 'customer.login_page.email_check_login_desc' | t }}</p>
                </div>
                {% if form.errors %}
                  <div class="form-notification error">
                    {% render 'svg-icons' with 'thb-error' %}
                    {{ form.errors | default_errors }}
                  </div>
                {% endif %}
                <div class="fields login--page">
                  <div class="field">
                    <label for="email">{{ 'customer.login_page.email' | t }}</label>
                    <input
                      type="email"
                      name="customer[email]"
                      class="full {% if form.errors contains 'email' %}invalid{% endif %}"
                      id="customer_email"
                      value=""
                      placeholder="{{ 'customer.login_page.email_place' | t }}"
                      required
                    >
                    <div id="emailError" class="form-error"></div>
                  </div>

                  <div class="field">
                    <label for="confirm_email">{{ 'customer.login_page.confirm_email' | t }}</label>
                    <input
                      type="email"
                      name="customer[confirm_email]"
                      class="full {% if form.errors contains 'confirm_email' %}invalid{% endif %}"
                      value=""
                      placeholder="{{ 'customer.login_page.confirm_email_place' | t }}"
                      required
                    >
                    <div id="confirmEmailError" class="form-error"></div>
                  </div>
                  <div class="field">
                    <button type="button" class="button full" id="updateEmailBtn">
                      <span>{{ 'customer.login_page.add_email' | t }}</span>
                    </button>
                    <div id="loaderemail" style="display: none;"><img src="https://cdn.shopify.com/s/files/1/0678/1026/3276/files/loader.gif?v=1709888859"></div>
                  </div>
                </div>
                <div class="switch-login-section mob">
                  {{ 'customer.login_page.dont_have_an_account' | t }}
                  {% assign text_button_title = 'customer.login_page.create_account' | t %}
                  {% render 'text-button', url: routes.account_register_url, title: text_button_title %}                  
                </div>
              </div>
            </div>
            <!-- Email End -->

            <div class="devider"><span>or</span></div>
            <div class="switch-login-section">
              {% assign text_button_title = 'Need Help?' %}
              {% render 'text-button', url: "/pages/contact", title: text_button_title %}
              We’re here to assist.
              <div></div>
            </div>
          
          {% endform %}
        </login-customer>
      </div>
    </div>
  </div>
</div>