{{ 'login-register.css' | asset_url | stylesheet_tag }}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAEbeab1tjvjCM0g95bVgRTI1iR5yPln1Q&libraries=places"></script>            

<div class="row">
  <div class="small-12 columns">
    <div class="thb-form-container">
      <div class="thb-register-form">
        <register-customer>
        {% form 'create_customer' %}
          <h5>{{ 'customer.login_page.create_account' | t }}</h5>
          <h4>{{ 'customer.login_page.create_account_dec' | t }}</h4>
          <p>{{ 'customer.login_page.create_account_description' | t }}</p>
          {% if form.errors %}
            <div class="form-notification error">
              {% render 'svg-icons' with 'thb-error' %}
              {{ form.errors | default_errors }}
            </div>
          {% endif %}
          <div class="create_form_wrapper">
            <div class="fields">
              <div class="field">
                <label for="first_name">{{ 'customer.login_page.first_name' | t }}</label>
                <input
                  type="text"
                  name="customer[first_name]"
                  class="full"
                  id="first_name"
                  value="{% if form.first_name %}{{ form.first_name }}{% endif %}"
                  placeholder="{{ 'customer.login_page.first_name' | t }}"
                >
                <div id="firstNameError" class="form-error"></div>
              </div>
              
              <div class="field">
                <label for="last_name">{{ 'customer.login_page.last_name' | t }}</label>
                <input
                  type="text"
                  id="last_name"
                  name="customer[last_name]"
                  class="full"
                  value="{% if form.last_name %}{{ form.last_name }}{% endif %}"
                  placeholder="{{ 'customer.login_page.last_name' | t }}"
                >
                <div id="lastNameError" class="form-error"></div>
              </div>
            </div>
            <div class="field">
              <label for="number">{{ 'customer.login_page.Mobile' | t }}</label>
              <div class="field--country_codee">
                <span>+971</span>
                <input
                  type="tel"
                  placeholder="{{ 'customer.login_page.mobile'| t }}"
                  class="full numeric"
                  name="phone"
                  id="mobile"
                  inputmode="numeric"
                  required
                  maxlength="9"
                >                                
              </div>
              <div id="mobileError" class="form-error"></div>
            </div>
            <div class="field">
              <label for="email">{{ 'customer.login_page.email' | t }}</label>
              <input
                type="email"
                name="customer[email]"
                class="full customer_email {% if form.errors contains 'email' %}invalid{% endif %}"
                value=""
                id="email"
                placeholder="{{ 'customer.login_page.email_place' | t }}"
                required                
              >
              <div id="emailError" class="form-error"></div>
            </div>            
            <div class="field">
              <label for="confirm_email">{{ 'customer.login_page.confirm_email' | t }}</label>
              <input
                type="email"
                name="customer[confirm_email]"
                class="full {% if form.errors contains 'confirm_email' %}invalid{% endif %}"
                value=""
                id="confirm_email"
                placeholder="{{ 'customer.login_page.confirm_email_place' | t }}"
                required               
              >
              <div id="confirmEmailError" class="form-error"></div>
            </div>            
            <div class="field">
              <label for="locationInput">{{ 'customer.login_page.address' | t }}</label>
              <input
                type="text"
                name="addressInput"
                id="locationInput"
                placeholder="{{ 'customer.login_page.address_place' | t }}"
                onkeydown="handleEnterKey(event)"
              >
                <input type="hidden" name="lat">
              <input type="hidden" name="lang">
              <div class="location_icon" id="openMapPopup">
                {% render 'svg-icons' with 'location' %}
              </div>

              <!-- Popup content -->
              <div id="popup">
                <!-- Input field for address -->
                <label for="addressInput">Address</label>
                <input type="text" id="addressInput" placeholder="Enter address" onkeydown="handleEnterKey(event)">

                <!-- Container for the map -->
                <div id="map"></div>

                <!-- Display selected location as text -->
                <div id="locationText"></div>

                <!-- Button to show map based on address -->
                <button type="button" onclick="showMapForAddress()">Show on Map</button>

                <!-- Close button -->
                <button type="button" class="close-icon" onclick="closePopup()">{% render 'svg-icons' with 'map-close' %}</button>
              </div>
              <div id="locationInputError" class="form-error"></div>
            </div>

            <div class="field-area">
              <div id="verifyOTPPopup">
                <div class="popup-wrapper">
                  <h1 class="popup-title">Validate your Mobile Number</h1>
                  <p class="popup-subtitle">We sent a code to your Mobile Phone.</p>
                  <div class="popup-otp-wrapper">
                    <label for="OneTimePassword">One Time Password</label>
                    <div class="popup-otp-input-box">
                      <input
                        type="text"
                        name="OneTimePassword"
                        id="OneTimePassword1"
                        maxlength="1"
                        oninput="validateAndSwitch(this, 'OneTimePassword2')"
                        autocomplete="off"
                      >
                      <input
                        type="text"
                        name="OneTimePassword"
                        id="OneTimePassword2"
                        maxlength="1"
                        oninput="validateAndSwitch(this, 'OneTimePassword3')"
                        autocomplete="off"
                      >
                      <input
                        type="text"
                        name="OneTimePassword"
                        id="OneTimePassword3"
                        maxlength="1"
                        oninput="validateAndSwitch(this, 'OneTimePassword4')"
                        autocomplete="off"
                      >
                      <input
                        type="text"
                        name="OneTimePassword"
                        id="OneTimePassword4"
                        maxlength="1"
                        oninput="validateAndSwitch(this, 'OneTimePassword5')"
                        autocomplete="off"
                      >
                      <input
                        type="text"
                        name="OneTimePassword"
                        id="OneTimePassword5"
                        maxlength="1"
                        oninput="validateAndSwitch(this, 'OneTimePassword6')"
                        autocomplete="off"
                      >
                      <input
                        type="text"
                        name="OneTimePassword"
                        id="OneTimePassword6"
                        maxlength="1"
                        oninput="validateAndSwitch(this, null)"
                        autocomplete="off"
                      >
                    </div>
                    <div id="invalidOTPError" class="form-error"></div>
                    <p class="timing">
                      <a id="resendLink">Resend code </a> <span id="timer"></span>
                    </p>
                    <button type="button" class="button full" id="verifyOtpbtn" disabled>
                      <span>Validate your Mobile Number</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <div class="field">
              <label for="address" name="address">{{ 'customer.login_page.address2' | t }}</label>
              <textarea
                name="address"
                placeholder="{{ 'customer.login_page.address2_place' | t }}"
                class="full address2"
                id="address"
              ></textarea>
            </div>

            <div class="fields">
              <div class="field">
                <label for="regi_city">{{ 'customer.addresses.city' | t }}</label>
                <select
                  name="city"
                  id="regi_city"
                  placeholder="{{ 'customer.addresses.city_reg' | t }}"
                  class="full"
                >
                  <option value="">{{ 'customer.addresses.city_reg' | t }}</option>
                </select>
                <div id="regiCityError" class="form-error"></div>
              </div>

              <div class="field">
                <label for="district">{{ 'customer.addresses.district' | t }}</label>
                <select
                  name="district"
                  placeholder="{{ 'customer.addresses.district_reg' | t }}"
                  id="district"
                  class="full"
                >
                  <option value="">{{ 'customer.addresses.district_reg' | t }}</option>
                </select>
                <div id="districtError" class="form-error"></div>
              </div>
            </div>
            <div class="terms_condition-checkbox">
              <input id="accept_condition" type="checkbox" value="" required>
              <span>I accept and agree to the <a href="#">Terms and Condition</a></span>
            </div>
            <button type="button" class="button full" id="regi_button" disabled>
              <span>{{ 'customer.login_page.submit_register' | t }}</span>
            </button>
          </div>
        {% endform %}
      </register-customer>
        <div class="switch-login-section">
          {{ 'customer.login_page.already_have_an_account' | t }}
          {% assign text_button_title = 'customer.login_page.login' | t %}
          {% render 'text-button', url: routes.account_login_url, title: text_button_title %}
        </div>
      </div>
    </div>
  </div>
</div>