<script src="{{ 'wallet.js' | asset_url }}" defer="defer"></script>
{{ 'wallet_page_style.css' | asset_url | stylesheet_tag }}
{{- 'breadcrumbs.css' | asset_url | stylesheet_tag -}}
<input type="hidden" name="meta[user_id]" value="{{ customer.metafields.custom.user_id }}">

  <div id="loader" class="loader">
        {% render 'svg-icons' with 'spinnerLoaderRef' %}
    </div>
    
<div id="row-my-wallet" class="row row-my-wallet">
    <nav class="breadcrumbs account-breadcrumbs" aria-label="breadcrumbs">
      <a href="{{ routes.account_url }}" title="{{ 'sections.breadcrumbs.my_account' | t | escape }}">{{ 'sections.breadcrumbs.my_account' | t }}</a>     
        <i>&#x3e;</i>
        <a href="{{ routes.account_url | append: '/account?view=my-wallet' }}" data-route="My Wallet">My Wallet</a>     
    </nav>
</div>

<wallet-balance>  
  <div id="my_wallet_main" class="my_wallet_main">
    <div class="my_wallet_main_inner">
      <div class="my_wallert_content_main">
        <div class="my_wallet_heading desktop">
          My Wallet
        </div>
        <div class="my_wallert_content_inner">
          <div class="mobile_header_with_back">
            <div class="back_arrow">
              <a href="/pages/account">
              {% render 'back_icon' %}
              </a>
            </div>
            <div class="my_wallet_heading_mobile">
              My Wallet
            </div>
            <div></div>
          </div>
          <img class="positioned_image_top" src="https://cdn.shopify.com/s/files/1/0678/1026/3276/files/Group_18399.png?v=1707684849">
          <div class="avilable_content_main">
            <div class="reload_available">
              <div class="available-funds-title">
                {% render 'reload' %}
                Available Funds
              </div>
              <div class="available_funds">
                <span class="available_fund_currency">AED</span> <span data-balance class="available_fund_price">0</span>
              </div>
            </div>

            <div class="top-up-wallet-button-main">
              <a href="/products/top-up-wallet" class="top-up-wallet-button">Top Up Wallet</a>
            </div>
          </div>
          <div class="balance_content_help_main">
            <div class="total_balance_content_main total_ballane_detail_div">
              <div class="total_balance_innet"><span class="total_balance_title">Total Balance</span> <span class="total_balance_amount">AED <span data-total>0</span></span></div>
              <div class="orders_queue_innet"><span class="orders_queue_title">Orders in Queue (<span data-queue-orders>0</span>)</span> <span class="orders_queue_amount">AED <span data-queue-amount>0</span></span></div>

            </div>
            <div class="total_balance_content_main total_ballane_detail_help_div">
              <div class="total_balance_innet"><span class="total_balance_title">Queued orders will be deducted from Total Balance on delivery</span></div>
            </div>
            <!-- <a class="help_about_my_wallet close_help_wallet">{% render "close_help_wallet" %}</a>
            <a class="help_about_my_wallet open_help_wallet">{% render "help_wallet" %}</a> -->
          </div>
        </div>
      </div>
      <div class="my_wallert_image_main">
        <img src="{{ section.settings.upload_image | img_url: 'large' }}">
      </div>
    </div>
  </div>

  <div id="my_wallet_data_blocks_main" class="tabs_main my_wallet_data_blocks_main">
    <div class="my_wallet_block_switch_buttons">
      <div data-tab="tab1" class="button_wallet_Debited tab active">Debited</div>
      <div data-tab="tab2" class="button_wallet_Credited tab">Credited</div>
    </div>
    <div class="tabs_main_style">
      <div id="tab1" class="tab-content active">
        <div class="zero-wallet-transactions">
          <div class="zero_wallet_text">
            You don’t have any transactions.
          </div>
          <div class="zero_wallet_button">
            <a class="zero_wallet_main_btn" href="/products/top-up-wallet">Top Up Now</a>
          </div>
        </div>
      </div>
      <div id="tab2" class="tab-content Credited_section_tab">
        <div class="zero-wallet-transactions">
          <div class="zero_wallet_text">
            You don’t have any transactions.
          </div>
          <div class="zero_wallet_button">
            <a class="zero_wallet_main_btn" href="/products/top-up-wallet">Top Up Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="zero_wallet_top_up" class="zero_wallet_top_up">
    <div class="zero_wallet_image">
      <img class="zero_wallet_img_positioned" src="https://cdn.shopify.com/s/files/1/0678/1026/3276/files/Group_18439.png?v=1707858874">
    </div>
    <div class="zero_wallet_button">
      <a class="zero_wallet_main_btn" href="/products/top-up-wallet">Top Up Now</a>
    </div>
  </div>
</wallet-balance>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        document.getElementById('loader').classList.remove('hidden');
        document.documentElement.classList.add('no_scroll');        
    });

    setTimeout(function() {
        document.getElementById('loader').classList.add('hidden');        
        document.documentElement.classList.remove('no_scroll');
        document.getElementById('my_wallet_main').style.visibility = 'visible';
        document.getElementById('row-my-wallet').style.visibility = 'visible';      
        document.getElementById('my_wallet_data_blocks_main').style.visibility = 'visible';
        document.getElementById('zero_wallet_top_up').style.visibility = 'visible';
      
    }, 5000);
</script>

{% schema %}
  {
    "name": "My wallet",
    "settings": [
      {
      "type": "image_picker",
      "id": "upload_image",
      "label": "Upload a image for bottle"
      }
    ]
  }
{% endschema %}