  {{ 'rewards_history.css' | asset_url | stylesheet_tag }}
  <input type="hidden" name="meta[token]" value="{{ customer.metafields.custom.token }}">
  <input type="hidden" name="meta[user_id]" value="{{ customer.metafields.custom.user_id }}">
  <input type="hidden" name="meta[name]" value="{{ customer.metafields.custom.name }}">
  <drop-history>
    <div class="reward_history_main">
      <div class="reward_history_inner">
        <div class="reward_history_inner_main">
          <div class="reward_history_inner_top">
            <div class="reward_history_back">
              <a href="{{ routes.account_url | append: '?view=clip-the-deal' }}">
              {% render 'back_icon' %}
              </a>
            </div>
            <div class="reward_history_title">Rewards History</div>
            <div class="reward_history_help">
              <a href="{{ routes.account_url | append:'?view=reward-benefits' }}">
              {% render 'help_icon' %}
              </a>
            </div>
          </div>
          <div class="reward_history_inner_bottom"></div>
        </div>
      </div>
    </div>
    <div class="reward_history_main_data">
      <div class="reward_history_data_inner">
        <div class="reward_history_inner_main_data">
          <div class="reward_history_data_inner_top">
            <div class="reward_history_data_title_main">
              Your Current Balance
            </div>
            <div class="reward_history_data_drops_details drop_expire"></div>
          </div>
          <div class="reward_history_inner_data_points_count"></div>
        </div>
      </div>
      <div class="reward_history_data_inner bordered">
        <div class="reward_history_inner_main_data">
          <div class="reward_history_data_inner_top">
            <div class="reward_history_total_data_main">
              Total accumulated so far
            </div>
            <div class="reward_history_data_date_details"></div>
          </div>
          <div class="reward_history_points_count total_accumulated">0</div>
        </div>
      </div>
    </div>
    <div class="tabs_main my_wallet_data_blocks_main">
      <!-- Blocks_month -->
      
    </div>
  </drop-history>
  {% schema %}
  {
  "name": "Rewards History",
  "settings": []
  }
  {% endschema %}