{% comment %}
{{ 'wallet_page_style.css' | asset_url | stylesheet_tag }}
{% endcomment %}
{{ 'rewards-voucher-redeemed.css' | asset_url | stylesheet_tag }}
<input type="hidden" name="meta[token]" value="{{ customer.metafields.custom.token }}">
<input type="hidden" name="meta[user_id]" value="{{ customer.metafields.custom.user_id }}">
<input type="hidden" name="meta[name]" value="{{ customer.metafields.custom.name }}">
<redemeed-reward-offer>
  <div class="rewards-voucher-redeemed">
    <div class="rewards-voucher-redeemed_inner">
      <div class="rewards-voucher-redeemed_main">
        <div class="rewards-voucher-redeemed_inner_top">
        <div class="rewards-voucher-redeemed_back">
          <a>{% render 'back_icon' %}</a>
        </div>
        <div class="rewards-voucher-redeemed_title">Voucher</div>
        <div class="rewards-voucher-redeemed_help"></div>
          {% comment %}
          <!-- {% render 'help_icon' %} -->
          {% endcomment %}
      </div>

      <div class="rewards-voucher-redeemed_card_image deaktop_hide">
            <img class="rewards-voucher-redeemed_image" src="https://cdn.shopify.com/s/files/1/0678/1026/3276/files/Group_18461.png?v=1707940864">
      </div>
        
      </div>

    </div>


    <!--  -->

      <div class="rewards-voucher-redeemed_data_main">
        <div class="rewards-voucher-redeemed_data_main_inner">
        <div class="rewards-voucher-redeemed_card_main">
          <div class="rewards-voucher-redeemed_card_image mobile_hide">
            <img class="rewards-voucher-redeemed_image" src="https://cdn.shopify.com/s/files/1/0678/1026/3276/files/Group_18461.png?v=1707940864">
          </div>
          <div class="rewards-voucher-redeemed_card_info">
            <p class="rewards-voucher-redeemed_detail"></p>
            <div class="rewards-voucher-redeemed_title_card">Voucher redeemed!</div>
            <div class="rewards-voucher-redeemed-code">
              ALAINWATER10H&M23
            </div>
            <div class="rewards-voucher-redeemed_button_red"><a class="rewards-voucher-redeemed_redeme_btn_atc">Redeem at <span class="voucher-name"></span></a></div>
            <div class="rewards-voucher-redeemed-copy-code"><span>{{ 'customer.account.reward.copy_voucher' | t }}</span> {% render 'copy-icon' %}</div>
            <div class="rewards-voucher-redeemed-success-text">
              Your <span class="voucher-name"></span> voucher code has been successfully redeemed. An SMS has been sent to your registered number with all the details.
            </div>
            <div class="rewards-voucher-redeemed-divider"></div>
            <div class="reward-redeem-voucher-title-count"></div>
            <!-- <div class="rewards-voucher-redeemed-terms">Terms & Conditions</div> -->
            <!-- <div class="rewards-voucher-redeemed-list">
              <ul>
                <li>Up to 2 uses per month</li>
                <li>Coupon cannot be refunded once unlocked</li>
              </ul>
            </div> -->
          </div>
        </div>
        </div>
      </div>
    {% comment %}
      {% render 'small_cards' %}
    {% endcomment %}
  </div>
</redemeed-reward-offer>
{% schema %}
  {
    "name": "Clip the deal",
    "settings": [
      {
	    "type": "text",
	    "id": "heading",
	    "label": "Heading",
	    "default": "My Reward Drops"
	  },
      {
	    "type": "text",
	    "id": "heading_sec",
	    "label": "Heading second",
	    "default": "Blue Tier"
	  },
      {
	    "type": "text",
	    "id": "drop_title",
	    "label": "Data title",
	    "default": "Your Current Balance"
	  },
      {
	    "type": "inline_richtext",
	    "id": "date_exp",
	    "label": "Expire date",
	    "default": "<strong>5 Drops</strong> will expire on 1/11/23"
	  },
      {
	    "type": "number",
	    "id": "drop_points",
	    "label": "Drop points",
	    "default": 25
	  },
      {
	    "type": "inline_richtext",
	    "id": "drop_range",
	    "label": "Expire date",
	    "default": "25 drops until Green Tier"
	  },
      {
	    "type": "text",
	    "id": "h_label",
	    "label": "Button label",
	    "default": "Drop History"
	  },
      {
	    "type": "url",
	    "id": "h_link",
	    "label": "Button link"
	  },
      {
        "type": "color_background",
        "id": "background_gradient",
        "label": "Background color"
      }
    ],
    "presets": [
      {
        "name": "Clip the deal"
      }
    ]
  }
{% endschema %}