<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAEbeab1tjvjCM0g95bVgRTI1iR5yPln1Q&libraries=places"></script>            
<script src="{{ 'profile.js' | asset_url }}" defer="defer"></script>
{{ 'profile.css' | asset_url | stylesheet_tag }}
{{ 'login-register.js' | asset_url | script_tag }}
{{ 'login-register.css' | asset_url | stylesheet_tag }}


<main class="profile-form__wrapper">
      <!-- Profile Main Form -->

      <section class="profile-form-section">
        <div class="head-section">
          <h2>Profile</h2>
          <p class="sub-title">My Account Details</p>
          <p class="desc">
            Please ensure that your personal details and account information are
            always accurate and up-to-date
          </p>
        </div>

        <form action="" method="post" id="profile-form" class="profile-form">
          <fieldset>
            <div class="field" aria-disabled="true">
              <a href="javascript:void(0);" class="edit-link edit-name" title="edit">edit</a>
              <label for="first name">First Name</label>
              <div class="control">
                <input
                  type="text"
                  name="first name"
                  aria-label="First Name"
                  placeholder="First Name"
                  disabled
                />
              </div>
            </div>
            <div class="field" aria-disabled="true">
              <label for="last name">Last Name</label>
              <div class="control">
                <input
                  type="text"
                  name="last name"
                  aria-label="Last Name"
                  placeholder="Last name"
                  disabled
                />
              </div>
            </div>
            <hr />
            <div class="field" aria-disabled="true">
              <a href="javascript:void(0);" class="edit-link edit-email" title="edit">edit</a>
              <label for="email address">Email Address</label>
              <div class="control">
                <input
                  type="email"
                  name="email address"
                  aria-label="Email Address"
                  placeholder="email@email.com"
                  disabled
                />
              </div>
              <div class="tagline">
                If you update your email address, you'll need to verify it again
                for security purposes.
              </div>
            </div>
            <hr />
            <div class="field" aria-disabled="true">
              <a href="javascript:void(0);" class="edit-link edit-address" title="edit">edit</a>
              <label for="address">Address</label>
              <div class="control">
                <textarea
                  name="address"
                  aria-label="Address"
                  disabled
                ></textarea>
              </div>
            </div>
          </fieldset>
        </form>
      </section>

      <!-- Update Name form -->

      <section class="update-name-section">
        <div class="head-section">
          <h2>Update Name</h2>
        </div>
        <form
          action=""
          method="post"
          id="update-name-form"
          class="update-name-form"
        >
          <fieldset>
            <div class="field">
              <label for="first name">First Name</label>
              <div class="control">
                <input
                  type="text"
                  name="first name"
                  aria-label="First Name"
                  placeholder="First Name"
                />
              </div>
            </div>
            <div class="field">
              <label for="last name">Last Name</label>
              <div class="control">
                <input
                  type="text"
                  name="last name"
                  aria-label="Last Name"
                  placeholder="Last name"
                />
              </div>
            </div>
            <div class="actions-bar">
              <button
                type="submit"
                class="form-submit-btn"
                aria-label="update name"
              >
                update name
              </button>
              <a href="javascript:void(0);" class="back-link" title="Go back">Go back</a>
            </div>
          </fieldset>
        </form>
      </section>

      <!-- Update Email form -->

      <section class="update-email-section">
        <div class="head-section">
          <h2>Update Email</h2>
        </div>
        <form
          action=""
          method="post"
          id="update-email-form"
          class="update-email-form"
        >
          <fieldset>
            <div class="field" aria-disabled="true">
              <label for="Current Email Address">Current Email Address</label>
              <div class="control">
                <input
                  type="email"
                  name="Current Email Address"
                  aria-label="Current Email Address"
                  disabled
                  placeholder="Current Email Address"
                />
              </div>
            </div>
            <div class="field">
              <label for="New Email Address">New Email Address</label>
              <div class="control">
                <input
                  type="email"
                  name="New Email Address"
                  aria-label="New Email Address"
                  placeholder="New Email Address"
                />
                <div class="error">The email provided has not yet been verified. Please verify your email for account security and updates.</div>
              </div>
            </div>
            <div class="field">
              <label for="Confirm New Email Address"
                >Confirm New Email Address</label
              >
              <div class="control">
                <input
                  type="email"
                  name="Confirm New Email Address"
                  aria-label="Confirm New Email Address"
                  placeholder="Confirm New Email Address"
                />
              </div>
            </div>
            <div class="actions-bar">
              <button
                type="submit"
                class="form-submit-btn"
                aria-label="update Email"
              >
                update Email
              </button>
              <a href="javascript:void(0);" class="back-link" title="Go back">Go back</a>
            </div>
          </fieldset>
        </form>
      </section>

      <!-- Update Delivery Address form -->

      <section class="update-delivery-address-section">
        <div class="head-section">
          <h2>Delivery Address</h2>
        </div>
        <form
          action=""
          method="post"
          id="update-delivery-address-form"
          class="update-delivery-address-form"
        >
          <fieldset>
            <div class="field">
              <label for="locationInput">{{ 'customer.login_page.address' | t }}</label>
              <input
                class="address-input-text"
                type="text"
                name="addressInput"
                id="locationInput"
                placeholder="{{ 'customer.login_page.address_place' | t }}"
                onkeydown="handleEnterKey(event)"
              >
              <div class="location_icon" onclick="openPopup()">
                {% render 'svg-icons' with 'location' %}
              </div>

              <!-- Popup content -->
              <div id="popup">
                <!-- Input field for address -->
                <label for="addressInput">Address</label>
                <input type="text" id="addressInput" placeholder="Enter address" onkeydown="handleEnterKey(event)">

                <!-- Container for the map -->
                <div id="map"></div>

                <!-- Display selected location as text -->
                <div id="locationText"></div>

                <!-- Button to show map based on address -->
                <button type="button" onclick="showMapForAddress()">Show on Map</button>

                <!-- Close button -->
                <button type="button" class="close-icon" onclick="closePopup()">{% render 'svg-icons' with 'map-close' %}</button>
              </div>
              <div id="locationInputError" class="form-error"></div>
            </div>

            <div class="field">
              <label for="Update Address 2"
                >Apt / Villa Number & Building / Villa Name</label
              >
              <div class="control">
                <input
                  type="text"
                  name="Update Address 2"
                  aria-label="Update Address 2"
                  placeholder="Update Address 2"
                />
              </div>
            </div>

            <div class="field field-row">
              <div class="field">
                <label for="City">City</label>
                <div class="control">
                  <select name="City" aria-label="City">
                    <option value="">Abu Dhabi</option>
                  </select>
                </div>
              </div>
              <div class="field">
                <label for="District">District</label>
                <div class="control">
                  <select name="District" aria-label="City">
                    <option value="">Al Reem Island</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="actions-bar">
              <button
                type="submit"
                class="form-submit-btn"
                aria-label="update Address"
              >
                update Address
              </button>
              <a href="javascript:void(0);" class="back-link" title="Go back">Go back</a>
            </div>
          </fieldset>
        </form>
      </section>

      <!-- My Account footer -->

      <div class="devider"><span>or</span></div>
          <div class="switch-login-section">
            {% assign text_button_title = 'Need Help?' %}
            {% render 'text-button', url: #, title: text_button_title %}
            We’re here to assist.            
          </div>
    </main>